@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#turkiye g {
    cursor: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23F5EEDC%22%20d%3D%22M8%2010c-1.654%200-3%201.346-3%203s1.346%203%203%203%203-1.346%203-3-1.346-3-3-3m-1.5%203.518a.5.5%200%201%201%200-1%20.5.5%200%200%201%200%201m1.5%201.5a.5.5%200%201%201%200-1%20.5.5%200%200%201%200%201m0-3a.5.5%200%201%201%200-1%20.5.5%200%200%201%200%201m1.5%201.5a.5.5%200%201%201%200-1%20.5.5%200%200%201%200%201%22%2F%3E%3Cpath%20fill%3D%22%23F5EEDC%22%20d%3D%22M14%203.5h-.289C13.017%201.466%2011.129%200%208.909%200H7.091a5%205%200%200%200-3.61%201.537A5.2%205.2%200%200%200%202.205%203.75H2a1%201%200%200%200-1%201v1.5a1%201%200%200%200%201%201h.001v.887c0%20.66.343%201.254.873%201.647a4%204%200%200%201%201.381%201.847%204%204%200%200%201%203.746-2.612c1.717%200%203.18%201.09%203.746%202.612a4%204%200%200%201%201.381-1.847c.529-.393.872-.988.872-1.648V7a1%201%200%200%200%201-1V4.5a1%201%200%200%200-1-1M5.75%206.75a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5m4.5%200a1.25%201.25%200%201%201%200-2.5%201.25%201.25%200%200%201%200%202.5m3.957%205.043a.99.99%200%200%200-.867-.28%201%201%200%200%200-.734.54l-1%202a1%201%200%200%200%20.188%201.154l.5.5a1%201%200%200%200%20.867.28%201%201%200%200%200%20.734-.54l1-2a1%201%200%200%200-.188-1.154zm-10.813.26a1%201%200%200%200-.734-.54%201%201%200%200%200-.867.28l-.5.5a1%201%200%200%200-.188%201.154l1%202A1%201%200%200%200%203%2016a1%201%200%200%200%20.707-.293l.5-.5a1%201%200%200%200%20.188-1.154z%22%2F%3E%3C%2Fsvg%3E") 4 0, pointer;
    fill: #27548A;
}
#turkiye path:hover {
  fill: #183B4E;
}
